@{
    ViewBag.Title = "Alerts";
    ViewBag.ContainerFluid = true;
}

@Bootstrap.H1("Alerts")

@Bootstrap.H3("Simple alerts")
@using (Bootstrap.BeginGridRow())
{
    using (Bootstrap.BeginGridCol(0, 7, 7, 7, 6))
    {
<pre>
@@Bootstrap.Alert(Color8.PrimaryBlue, "This is simple PRIMARY alert")
@@Bootstrap.Alert(Color8.SecondaryGrey, "This is simple SECONDARY alert")
@@Bootstrap.Alert(Color8.SuccessGreen, "This is simple SUCCESS alert")
@@Bootstrap.Alert(Color8.WarningOrange, "This is simple WARNING alert")
@@Bootstrap.Alert(Color8.DangerRed, "This is simple DANGER alert")
@@Bootstrap.Alert(Color8.InfoCyan, "This is simple INFO alert")
@@Bootstrap.Alert(Color8.LightGrey, "This is simple LIGHT alert")
@@Bootstrap.Alert(Color8.DarkGrey, "This is simple DARK alert")
</pre>
    }
    using (Bootstrap.BeginGridCol(0, 5, 5, 5, 6))
    {
        @Bootstrap.Alert(Color8.PrimaryBlue, "This is simple PRIMARY alert")
        @Bootstrap.Alert(Color8.SecondaryGrey, "This is simple SECONDARY alert")
        @Bootstrap.Alert(Color8.SuccessGreen, "This is simple SUCCESS alert")
        @Bootstrap.Alert(Color8.WarningOrange, "This is simple WARNING alert")
        @Bootstrap.Alert(Color8.DangerRed, "This is simple DANGER alert")
        @Bootstrap.Alert(Color8.InfoCyan, "This is simple INFO alert")
        @Bootstrap.Alert(Color8.LightGrey, "This is simple LIGHT alert")
        @Bootstrap.Alert(Color8.DarkGrey, "This is simple DARK alert")
    }
}

@Bootstrap.H3("Closable alerts")
@using (Bootstrap.BeginGridRow())
{
    using (Bootstrap.BeginGridCol(0, 7, 7, 7, 6))
    {
<pre>@@Bootstrap.Alert(Color8.WarningOrange, "Alert with close button")
    .Closable()</pre>
    }
    using (Bootstrap.BeginGridCol(0, 5, 5, 5, 6))
    {
        @Bootstrap.Alert(Color8.WarningOrange, "Alert with close button").Closable()
    }
}

@Bootstrap.H3("Any content inside")
@using (Bootstrap.BeginGridRow())
{
    using (Bootstrap.BeginGridCol(0, 7, 7, 7, 6))
    {
<pre>
@@Bootstrap.Alert(Color8.SuccessGreen)
    .Content("Regular Strings will be encoded (&lt;hi!&gt;);")
    .Content(new HtmlString("&lt;i&gt;IHtmlContent will NOT be encoded&lt;/i&gt; "))
    .Content(Bootstrap.Badge(Color8.SuccessGreen, "and other Bootstrap objects are accepted"))
</pre>
    }
    using (Bootstrap.BeginGridCol(0, 5, 5, 5, 6))
    {
        @(Bootstrap.Alert(Color8.SuccessGreen)
                                            .Content("Regular Strings will be encoded (<hi!>);")
                                            .Content(new HtmlString("<i>IHtmlContent will NOT be encoded</i> "))
                                            .Content(Bootstrap.Badge(Color8.SuccessGreen, "and other Bootstrap objects are accepted")))

    }
}


@Bootstrap.H3("Any HTML content")
@using (Bootstrap.BeginGridRow())
{
    using (Bootstrap.BeginGridCol(0, 7, 7, 7, 6))
    {
<pre>
@@using (Bootstrap.Alert(Color8.SuccessGreen).Closable().BeginContent())
{
    &lt;h4&gt;Header inside Alert&lt;/h4&gt;
    &lt;p&gt;Use &lt;code&gt;BeginContent()&lt;/code&gt; method and place any HTML markup inside, and mix with @@Bootstrap.Badge(Color8.InfoCyan, "bootstrap objects")&lt;/p&gt;
}
</pre>
    }
    using (Bootstrap.BeginGridCol(0, 5, 5, 5, 6))
    {
        using (Bootstrap.Alert(Color8.SuccessGreen).Closable().BeginContent())
        {
            <h4>Header inside Alert</h4>
            <p>Use <code>BeginContent()</code> method and place any HTML markup inside, and mix with @Bootstrap.Badge(Color8.InfoCyan, "bootstrap objects")</p>
        }
    }
}
