@{
    ViewBag.Title = "Buttons";
    ViewBag.ContainerFluid = true;
}

@Bootstrap.H1("Buttons")

@Bootstrap.H3(" Simple buttons")
@using (Bootstrap.BeginGridRow())
{
    using (Bootstrap.BeginGridCol(0, 7, 7, 7, 6))
    {
<pre>
@@Bootstrap.Button(Color8.PrimaryBlue, "Primary")
@@Bootstrap.Button(Color8.SecondaryGrey, "Secondary")
@@Bootstrap.Button(Color8.SuccessGreen, "Success")
@@Bootstrap.Button(Color8.WarningOrange, "Warning")
@@Bootstrap.Button(Color8.DangerRed, "Danger")
@@Bootstrap.Button(Color8.InfoCyan, "Info")
@@Bootstrap.Button(Color8.LightGrey, "Light")
@@Bootstrap.Button(Color8.DarkGrey, "Dark")
</pre>
    }
    using (Bootstrap.BeginGridCol(0, 5, 5, 5, 6))
    {
        @Bootstrap.Button(Color8.PrimaryBlue, "Primary")
        @Bootstrap.Button(Color8.SecondaryGrey, "Secondary")
        @Bootstrap.Button(Color8.SuccessGreen, "Success")
        @Bootstrap.Button(Color8.WarningOrange, "Warning")
        @Bootstrap.Button(Color8.DangerRed, "Danger")
        @Bootstrap.Button(Color8.InfoCyan, "Info")
        @Bootstrap.Button(Color8.LightGrey, "Light")
        @Bootstrap.Button(Color8.DarkGrey, "Dark")
    }
}

<h3>Different sizes, disabled, outlined</h3>
@using (Bootstrap.BeginGridRow())
{
    using (Bootstrap.BeginGridCol(0, 7, 7, 7, 6))
    {
<pre>
@@Bootstrap.Button(Color8.WarningOrange, "Warning small").Size(ControlSize.Small)
@@Bootstrap.Button(Color8.DangerRed, "Danger large").Size(ControlSize.Large)
@@Bootstrap.Button(Color8.SuccessGreen, "Success disabled").Disabled()
@@Bootstrap.Button(Color8.WarningOrange, "Warning outline").Outline()
</pre>
    }
    using (Bootstrap.BeginGridCol(0, 5, 5, 5, 6))
    {
        @Bootstrap.Button(Color8.WarningOrange, "Warning small").Size(ControlSize.Small)
        @Bootstrap.Button(Color8.DangerRed, "Danger large").Size(ControlSize.Large)
        @Bootstrap.Button(Color8.SuccessGreen, "Success disabled").Disabled()
        @Bootstrap.Button(Color8.WarningOrange, "Warning outline").Outline()
    }
}

<h3>Create toolbars and button groups with precreated values or with <code>using</code> blocks:</h3>
@using (Bootstrap.BeginGridRow())
{
    using (Bootstrap.BeginGridCol(0, 7, 7, 7, 6))
    {
<pre>
@@using (var toolbarContent = Bootstrap.ButtonToolbar().BeginContent())
{
    using (var groupContent = toolbarContent.BeginButtonGroup())
    {
        @@Bootstrap.Button(Color8.PrimaryBlue, "One")
        @@Bootstrap.Button(Color8.SecondaryGrey, "Two")
        @@Bootstrap.Button(Color8.SecondaryGrey, "Three")
    )
    using (var groupContent = toolbarContent.BeginButtonGroup())
    {
        @@Bootstrap.Button(Color8.PrimaryBlue, "Four")
        @@Bootstrap.Button(Color8.SecondaryGrey, "Five")
    }
    using (var groupContent = toolbarContent.BeginButtonGroup())
    {
        @@Bootstrap.Button(Color8.PrimaryBlue, "Six")
        @@Bootstrap.Button(Color8.SecondaryGrey, "Seven")
    }
}
</pre>
    }
    using (Bootstrap.BeginGridCol(0, 5, 5, 5, 6))
    {
        using (var toolbarContent = Bootstrap.ButtonToolbar().BeginContent())
        {
            using (var groupContent = toolbarContent.BeginButtonGroup())
            {
                @Bootstrap.Button(Color8.PrimaryBlue, "One")
                @Bootstrap.Button(Color8.SecondaryGrey, "Two")
                @Bootstrap.Button(Color8.SecondaryGrey, "Three")
            }
            using (var groupContent = toolbarContent.BeginButtonGroup())
            {
                @Bootstrap.Button(Color8.PrimaryBlue, "Four")
                @Bootstrap.Button(Color8.SecondaryGrey, "Five")
            }
            using (var groupContent = toolbarContent.BeginButtonGroup())
            {
                @Bootstrap.Button(Color8.PrimaryBlue, "Six")
                @Bootstrap.Button(Color8.SecondaryGrey, "Seven")
            }
        }
    }
}

<h3>Dropdowns</h3>
<p>Use <code>BeginDropdown()</code> methods on any Button</p>
@using (Bootstrap.BeginGridRow())
{
    using (Bootstrap.BeginGridCol(0, 7, 7, 7, 6))
    {
<pre>
using (var toolbarContent = Bootstrap.ButtonToolbar().BeginContent())
{
    using (var groupContent = toolbarContent.BeginButtonGroup())
    {
        @@Bootstrap.Button(Color8.SuccessGreen, "One")
        using (var dropdown = Bootstrap.Button("Two").BeginDropdown())
        {
            @@dropdown.Link("Hello");
            @@dropdown.Divider();
            @@dropdown.Header("Header");
            @@dropdown.Link("Link 1").Href("#target1");
            @@dropdown.Link("Link 2").Href("#target2").Disabled();
        }
    }
}
&lt;p&gt;
    @@using (var dropdown = Bootstrap.Button("Single").BeginDropdown())
    {
        @@dropdown.Link("Hello");
        @@dropdown.Divider();
        @@dropdown.Header("Header");
        @@dropdown.Link("Link 1").Href("#target1");
        @@dropdown.Link("Link 2").Href("#target2").Disabled();
    }
&lt;/p&gt;
    </pre>
    }
    using (Bootstrap.BeginGridCol(0, 5, 5, 5, 6))
    {
        using (var toolbarContent = Bootstrap.ButtonToolbar().BeginContent())
        {
            using (var groupContent = toolbarContent.BeginButtonGroup())
            {
                @Bootstrap.Button(Color8.SuccessGreen, "One")
                using (var dropdown = Bootstrap.Button("Two").BeginDropdown())
                {
                    @dropdown.Link("Hello");
                    @dropdown.Divider();
                    @dropdown.Header("Header");
                    @dropdown.Link("Link 1").Href("#target1");
                    @dropdown.Link("Link 2").Href("#target2").Disabled();
                }
            }
        }

        <p>
            @using (var dropdown = Bootstrap.Button("Single").BeginDropdown())
            {
                @dropdown.Link("Hello");
                @dropdown.Divider();
                @dropdown.Header("Header");
                @dropdown.Link("Link 1").Href("#target1");
                @dropdown.Link("Link 2").Href("#target2").Disabled();
            }
        </p>
    }
}